<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Using for anchoring AR</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Using media library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Using to import texture</string>
	<key>NSCameraUsageDescription</key>
	<string>Using for AR</string>
</dict>
</plist>
